<h5>Add Todo</h5>
<div class="container">
    <form  (ngSubmit)="onSubmit()" class="w-50">
      <div class="mb-3">
        <label for="title" class="form-label">Todo Title</label>
        <input
          type="title"
          class="form-control"
          id="title"
          aria-describedby="titleHelp"
           [(ngModel)]="title"
           name="title"
        />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea type="text" 
        class="form-control"
         id="desc"
        [(ngModel)]="desc"
        name="desc" cols="20"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
    </form>
</div>
