<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <img src="../assets/todolist.gif" alt="" width="50px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</nav>
<div class="container">
  <h1 class="text-center mb-3">Shedule Your Task Today</h1>
  <app-todos></app-todos>
</div>